*{
    margin: 0;
    padding: 0;
}

/* Navbar.jsx */
.page h2 {
    font-size: 32px;
    color: gold;
    font-weight: 600;
}
.page span{
    color: #fff;
    font-weight: 800;
}

.header{
    background-image: url(./images/laptop66.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
    background-blend-mode: overlay;
    background-color: rgba(27, 39, 87, 0.767);
}

.additional{
    /* border: 2px solid; */
    /* padding: 100px; */
    width: 319px;
    height: 176px;
    position: absolute;
    right: .5px;
    top: 49px;
    text-align: center;
    background: gold;
    transition: 0.5s ;
}

.additional:hover ul li a{
    background-color: black;
}



.controlHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}

.button1{
    height: 40px;
    width: 90px;
    border: 2px solid;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0;
    background-color: #fff;
}

.button2{
    height: 40px;
    width: 90px;
    border: 2px solid;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 0;
    background-color: #fff;
}

.textBox{
    margin-top: 5px;
    margin-bottom: 12px;
    text-align: center;
}

.textBox h1{
    font-size: 60px;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 10px;
}

.textBox p{
    font-size: 18px;
    width: 40%;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 1.5rem;
    letter-spacing: 1.5px;
}

.textBox Button{
    transition: 0.5s;
    padding: 14px 40px;
    border-radius: 30px;
    border: 0;
}

.textBox Button:hover{
    border: 2px dashed;
    background: rgb(3, 3, 43);
    font-family: "Proxima Nova","Verdana","Avenir Next";
    color: #fff;
} 

@media (max-width: 700px) {
    .fa-less-than{
        font-size: 23px;
    }
    
    .fa-greater-than{
        font-size: 23px;
    }
    .button1{
        height: 30px;
        width: 50px;
    }
    .button2{
        height: 30px;
        width: 50px;
    }
    .textBox h1{
        font-size: 31px;
        font-weight: 700;
        
    } 
    .textBox p{
        font-size: 16.5px; 
        line-height: 1.2; 
        width: 90%;
    }
    .textBox Button{
        padding: 7px 18px;
    }
}

/* Welcome.jsx */
.welcome{
    text-align: center;
    margin-top: 2rem;
}
.welcome h2{
    font-size: 30px;
    margin-bottom: 1rem;
    color: rgb(16, 21, 44);
    font-weight: 700;
}

.welcome p{
    width: 55%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.welcome Button{
    padding: 9px 27px;
    border-radius: 30px;
    border: 2px solid #10152c;
}

@media (max-width: 700px){
    .welcome h2{
        font-size: 24px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .welcome p{
        width: 80%;
    }
    .welcome Button{
        padding: 7px 20px;
    }
}

/* About.jsx */
.card{
    border: 1px solid;
    height: 240px;
    width: 33.3%;
    border: 0;
}

.card-flex{
    display: flex;
    margin-top: 2rem;
}

.cardDetail{
    text-align: center;
    color: #fff;
    
}
.cardDetail h1{
    font-size: 30px;
    font-weight: 700;
} 

.cardDetail p{
    width: 80%;
    margin: 0 auto;
    /* padding-top: -1rem; */
    font-size: 15px;

}

@media (max-width: 700px){
    .card-flex{
        display: flex;
        flex-direction: column;
    }
    .cardDetail h1{
        font-size: 25px;
    }
    .card{
        width: 100%;
    }
}

/* Services.jsx */
.services h1{
    font-size: 30px;
    font-weight: 700;
}
.services h1::after{
    content: "";
    width: 6%;
    height: 2px;
    background:#10152c;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}
.services p{
    width: 35%;
    text-align: center;
    margin: 0 auto;
    color: #10152c;
}
.services{
    text-align: center;
    margin: 2rem;
}
.service-margin{
    margin: 0px 70px;
}

.plathora{
    border: 2px solid;
    width: 33.3%;
    height: 52px;
    border: 0;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 24.5px;
}

.plathora-flex{
    display: flex;
    gap: 30px;
    margin-bottom: 2rem;
}

.plathora{
    background-color: rgb(219, 219, 241);
}

@media (max-width: 700px){
    .services p{
        width: 71%;
    }
    .plathora-flex{
        display: flex;
        flex-direction: column;
    }
    .plathora{
        width: 100%;
        height: 40px;
    }
    .plathora p{
        font-size: 16px;
    }
    .plathora img{
        /* border: 2px solid; */
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .service-margin{
        margin: 0px 20px;
    }
    .services h1::after{
        content: "";
        width: 30%;
        height: 2px;
        background:#10152c;
        display: block;
        margin: auto;
        margin-bottom: 1rem;
    }
}

/* Success.jsx */

.success-bg{
    background: #10152c;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2;
}



/* Portfolio.jsx */
.portfolio h1{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
}
.portfolio h1::after{
    content: "";
    width: 6%;
    height: 2px;
    background:#10152c;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}